html, body {
    height: 100%;
}

app {
    display: block;
    height: 100%;
}

.header-logo {
    flex-shrink: 0;
    background-image: url('../images/logonongnghiep.png');
    /*-webkit-mask: url('../images/logobacgiang.png');
    mask: url('../images/logobacgiang.png');*/

    width: 100px;
    height: 96px;
    background-size: cover;
}

.header-left-side .header-logo {
    width: 60px;
    height: 60px;
}

.loading-image {
    width: 451px;
    height: 312px;
    padding-right: 30px;
}

#blazor-error-ui {
    background: inherit;
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100001;
}

#logon-template-component .title {
    text-align: center;
    color: #e71c1c;
    font-size: 40px;
    font-weight: 600;
}

#logon-template-component .title-small {
    text-align: center;
    color: cornflowerblue;
}

#logon-template-component .container-fluid {
    background-color: cornflowerblue;
    flex-grow: 1;
    width: 100%;
}

#logon-template-component .title-sign {
    text-align: center;
    color: cornsilk;
}

#logon-template-component p, #logon-template-component span {
    color: aliceblue;
}

#logon-template-component .span {
    padding-left: 20px;
}
.middle-text-separator {
    display: none;
}
div#id23f4a157-5896-43d8-a4f2-ebe7cede9b76 {
    display: none;
}

.button-column span {
    display: none;
}
.clickable-xaf-nav-item > a .xaf-nav-link, .clickable-xaf-nav-item > div > a .xaf-nav-link{
    text-decoration:none;
}
.sidebar {
    min-width: 275px !important;
}
.custom-sidebar .xaf-nav-link span {
    width: max-content;
}
.toolbar button {
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    border-radius: .2rem;
    padding: .40625rem .75rem;
}
